
<div class="container">
  <br>

  <div class="border" id="map" style="height: 300px"></div>

  <br>


  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h3>Área Disponibilizada por <%= @area.user.name %></h3>
      <table class="table table-bordered">
        <tbody>
          <thead>
            <th>Descrição (m²)</th>
            <th>Bacia</th>
            <th>Ação</th>
          </thead>

            <tr>
              <td><%= @area.description %></td>
              <td><%= @area.basin.name %></td>
              <td><%= link_to @area, method: :delete, data: { confirm: "Excluir essa área?" } do %>
                  <i class="fa fa-trash destroy_area"></i>
                <% end %>
                <%= link_to edit_area_path(@area), data: { confirm: "Editar essa área?" } do %>
                  <i class="fa fa-edit edit_area"></i>
                <% end %>

              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
    <%= link_to "Estou interessado", new_area_trade_path(@area), class: "btn btn-success button-light-shadow" %>
  <br>
    <p> <%= link_to 'Ver todas as áreas', areas_path %> </p>
  <br>

</div>

<!-- criar o campo de status na área para só deixar disponível para escolha as áreas que não tenham trade em andamento" --Unless @area.status true -->
