<!DOCTYPE html>
<html>
  <head>
    <title>Tradeflora</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

    <!-- flashes PARTIAL DOS ALERTAS flashes -->
    <%= render 'shared/flashes' %>

    <!-- navbar PARTIAL DA NAVBAR _navbar-->
    <%= render 'shared/navbar' %>
      <div class="container">
        <%= yield %>
      </div>

    <!-- footer PARTIAL DO FOOTER _footer-->
    <%= render 'shared/footer' %>

  </body>
</html>
